<div id="checkout">
    <h1>Checkout</h1>
    <form name="checkout.orderForm" id="checkout-form" novalidate
          ng-submit="checkout.submitForm()">

        <address-fields
            label="'Shipping Address'"
            address="checkout.user.shipping"
            billing="false"
            states="checkout.states">
        </address-fields>

        <address-fields
            label="'Billing Address'"
            address="checkout.user.billing"
            billing="checkout.sameBilling"
            states="checkout.states">
        </address-fields>

        <card-fields
            label="'Credit Card'"
            card="checkout.user.card">
        </card-fields>

        <shipping-fields
            label="'Shipping Information'"
            ship="checkout.user.ship"
            email="checkout.user.email">
        </shipping-fields>

        <cart-list cart="checkout.cart()"></cart-list>

        <h3><strong>Subtotal:</strong>&nbsp;{{checkout.user.subtotal | currency}}</h3>
        <h3><strong>Total:</strong>&nbsp;{{checkout.user.subtotal+checkout.user.ship.cost[checkout.user.ship.method] | currency}}</h3>

        <button type="submit" class="button">Place Order</button>
    </form>
</div>
